<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <!--Подключение стилей по относительному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--Сайд-бар страницы-->
    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>Все трансляции</p></a>
            <a href="/"><p>О проекте</p></a>
        </div>
    </aside>
    <div class="bordered">
        <!--Заголовок страницы-->
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p>Покажем, что происходит прямо сейчас</p>
        <!--Нью-Йорк-->
        <div class="video-container">
            <iframe width="250" height="250" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
        </div>
        <!--<div class="video-container">-->
        <!--Раменское-->
        <!--<iframe width="250" height="250" src="https://open.ivideon.com/embed/v3/?server=100-b1bfa9b561b078fc9041299673e2a749&amp;camera=524288&amp;width=&amp;height=&amp;lang=ru" frameborder="0" allowfullscreen></iframe>
        <h3 class="video-title">Раменское, ул. Чугунова</h3>
    </div>-->
        <div class="video-container">
            <!--Лондон-->
            <iframe width="250" height="250" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Предположим другой город</h3>
        </div>
        <div class="video-container">
            <!--Лондон-->
            <iframe width="250" height="250" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Лондон, автобусный маршрут</h3>
        </div>
        <!--<div class="video-container">
        <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/10750/ramenskoe/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Раменское</a><a href="https://yandex.ru/maps/10750/ramenskoe/?ll=38.227654%2C55.569254&utm_medium=mapframe&utm_source=maps&z=14.2" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты — транспорт, навигация, поиск мест</a><iframe src="https://yandex.ru/map-widget/v1/?ll=38.227654%2C55.569254&z=14.2" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        <h3 class="video-title">Карта г. Раменское</h3>
    </div>-->

    </div>

    <!--<div class="container">
        <div class="block one"> </div>
        <div class="block two"> </div>
        <div class="block three"> </div>
    </div>-->

</body>

<!--Футер страницы находится под основной частью (body)-->
<footer>
    <p>LifeSpot - все права защищены</p>
    <p>Связаться с нами: contact@lifespot.ru</p>
    <!--<p style="font-size:1em">Cats sleep<p style="font-size:2em">anywhere</p></p>-->
</footer>

</html>